.example-card {
  max-width: 400px;
  margin: 10px;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imgSize {
  width: 100%;
  height: 50%;
}

.borderCard {
  border: 3px solid red;
}
