<div class="containerCard">
  <mat-card
    *ngFor="let product of dataParent"
    class="example-card"
    [ngClass]="idsSelected.includes(product._id) ? 'borderCard' : ''"
    id="{{ product._id }}"
  >
    <mat-card-header>
      <mat-card-title>{{ product.nameProduct }}</mat-card-title>
      <mat-card-subtitle>{{ product.price }} €</mat-card-subtitle>
    </mat-card-header>
    <img class="imgSize" src="{{ product.img }}" alt="Photo_candy" />
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onAddProduct(product._id)">Add</button>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
