<div class="containerNavbar">
  <h1>CandyLAB</h1>
  <div class="containerNavbarLinks">
    <div>
      <a routerLink="/">Home</a>
    </div>

    <div>
      <a routerLink="profile-page">Il tuoi ordini</a>
    </div>
  </div>
  <div class="inputSearch">
    <label for="search">Search: </label>
    <input
      type="text"
      name="search"
      id="search"
      (input)="onInputChange($event)"
    />

    <button (click)="sendData()">Go!</button>
  </div>
</div>

<router-outlet></router-outlet>
